__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
.env
build/
dist/
*.spec
data/raw/**
data/ods/**
data/mart/**
data/reports/**
data/logs/**
!data/raw/.gitkeep
!data/ods/.gitkeep
!data/mart/.gitkeep
!data/reports/.gitkeep
!data/logs/.gitkeep
